*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
}

section{
    margin: 3.125rem auto 0 auto;
    max-width: 550px;
    background-color: green;
    display: flex;
}


input{
    display: block;
}

#radios{
    display: inline-block;
}